.nav-tabs {
  margin-bottom: -2px;
  padding-left: 0;
  display: flex;
  border: none;

  &__tab-item {
    list-style-type: none;
    border: none;
    margin-left: .6154rem;
  }

  &__link {

    display: inline-block;
    outline: none;
    float: none;
    color: #566b8d;
    padding: 1.2308rem 0.3077rem 1.0769rem;
    line-height: 20px;
    border-bottom: 0.15385rem solid transparent;
    cursor: pointer;

    &:hover, &:focus, &:active {
      border-color:#aebace;
      text-decoration: none;
      color: inherit;
    }

    &--current, &--current:hover, &--current:focus, &--current:active {
      border-bottom: 0.15385rem solid #43536d;
    }

    &:not(:first-of-type) {
      margin-left: 0.6154rem;
    }
  }
}
